= form_tag("/auth/#{provider[:id]}", method: 'post', data: { turbo: false }) do
  %button.btn.btn-primary.w-100.mt-1.mt-sm-0{ type: 'submit' }
    - if provider[:name]
      = t(:login_with, provider: provider[:name])
    - else
      = t(:login)
