// Firefox
* {
  --scrollbar-thumb-color: #{$scrollbar-thumb-color-light};

  @include color-mode(dark) {
    --scrollbar-thumb-color: #{$scrollbar-thumb-color-dark};
  }

  scrollbar-color: var(--scrollbar-thumb-color) $scrollbar-color;
  scrollbar-width: thin;
}

// Chrome
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: $scrollbar-color;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}
