:ruby
  title = tag.b paste.title
  author = tag.b paste.author
  expires_in = tag.b distance_of_time_in_words(paste.remove_after),
                     title: paste.remove_at
  private = paste.private ? badge(t(:private)) : ''
= t(:paste_title_html, title:, private:, author:, expires_in:)
