%footer.footer
  .container
    .d-flex.justify-content-between.align-items-center
      .copyright
        = t(:copyright)
      %ul.list-inline.mb-0
        %li.list-inline-item
          = link_to t(:source_code), 'https://github.com/openSUSE/paste-o-o'
        %li.list-inline-item
          = link_to t(:license), 'https://github.com/openSUSE/paste-o-o/blob/main/LICENSE'
